@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #eaeaea;
  --border-color: #2a2a2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border-subtle: var(--border-color);
  --font-sans: var(--font), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
